name: Ruby

on:
  push:
    branches:
      - "!main"

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.4'
          - '4.0'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - uses: rui314/setup-mold@v1
    - name: Install rbs
      run: bundle exec rbs collection install
    - name: Run type check
      run: bundle exec rake steep:check
    - name: Run the default task
      run: bundle exec rake
